{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main>
        <div>
            <nav>
                <li>
                    <a href="{% url 'create_task' %}">Create a new task</a>
                </li>
            </nav>
            <h1>My Tasks</h1>
            {% if tasks in tasks_list %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Start date|</th>
                        <th>Due date</th>
                        <th>Is completed|yesno</th>
                    </tr>
                    {% for tasks in tasks_list %}
                        <tr>
                            <td>{{ user.is_authenticated }}</td>
                            <td>{{ tasks|yesno }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
