{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% 'create_task' %}">Create a new task</a>
            </p>
            {% for tasks in project.task.all %}
            {% empty %}
                <p>this project has no tasks</p>
            {% endfor %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed|yesno</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in project_tasks.all|length %}
                        <tr>
                            <td>{{ tasks.Name|yesno }}</td>
                            <td>{{ tasks.Assignee|yesno }}</td>
                            <td>{{ tasks.Start.date|yesno }}</td>
                            <td>{{ tasks.Due.date|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
